/* Definición de variables globales */
:root {
    --titulo-color: #ff4900;
    --parrafo-1-color: #0093FF;
    --parrafo-2-color: #c500ff;
    --vinculos-color: #001bff;
    --vinculos-hover-color: #ff6600;
    --vinculos-visited-color: #4CAF50;
    --tabla-encabezado-color: #000000;
    --tabla-encabezado-fuente-color: #ffffff;
    --tabla-primera-tercera-fila-fondo: #bec1c3;
    --tabla-primera-tercera-fila-fuente: #000000;
    --tabla-fila-central-fondo: #045795;
    --tabla-fila-central-fuente: #ffffff;
}

/* Estilos para el título (h2) */
h2 {
    color: var(--titulo-color);
    font-size: 2rem;
}

/* Estilos para el párrafo 1 */
p:nth-of-type(1) {
    font-size: 16px;
    color: var(--parrafo-1-color);
    font-family: Arial, sans-serif;
}

/* Estilos para el párrafo 2 */
p:nth-of-type(2) {
    font-size: 12px;
    color: var(--parrafo-2-color);
    font-family: 'Nerko One', cursive;
}

/* Estilos para los vínculos */
a {
    color: var(--vinculos-color);
    font-weight: bold;
    text-decoration: none;
}

a:visited {
    color: var(--vinculos-visited-color);
}

a:hover {
    color: var(--vinculos-hover-color);
    text-decoration: underline;
}

/* Estilos para la tabla */
table {
    width: 100%;
    border-collapse: collapse;
}

th {
    background-color: var(--tabla-encabezado-color);
    color: var(--tabla-encabezado-fuente-color);
    font-size: 1.5rem;
    padding: 10px;
}

td {
    font-size: 1.5rem;
    padding: 10px;
    text-align: center;
}

tr:nth-child(odd) {
    background-color: var(--tabla-primera-tercera-fila-fondo);
    color: var(--tabla-primera-tercera-fila-fuente);
}

tr:nth-child(even) {
    background-color: var(--tabla-fila-central-fondo);
    color: var(--tabla-fila-central-fuente);
}

