/* Estilos para el Sidebar */
.sidebar {
  width: 250px;                       /* Ancho fijo para el sidebar */
  background-color: #e0e0e0;          /* Fondo gris claro */
  padding: 20px;                      /* Espaciado interno */
  color: #000;                        /* Color de texto */
  display: flex;
  flex-direction: column;             /* Organiza los elementos de forma vertical */
}

.sidebar p {
  font-size: 16px;                    /* Tamaño de la fuente */
  color: #333;                        /* Color de texto */
}

/* Estilos para el sidebar en pantallas grandes */
@media (min-width: 768px) {
  .sidebar {
    position: fixed;                  /* Fija el sidebar en la pantalla */
    top: 0;
    left: 0;
    height: 100%;                      /* Hace que ocupe toda la altura */
    z-index: 100;                      /* Asegura que el sidebar esté encima del contenido */
  }
}
