<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Estilos personalizados</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>

    <h2>Informacion del sitio web</h2>

    <p>
      En este espacio encontraras ejemplos y datos con algunos estilos de texto.
    </p>

    <p>
      En la siguiente tabla se podra ver una tabla con algunos productos y sus valores.
    </p>




    <ul>
      <li><a href="https://www.nasa.gov" target="_blank">NASA</a></li>
      <li><a href="https://www.facebook.com" target="_blank">Facebook</a></li>
      <li><a href="https://www.wikipedia.org/" target="_blank">Wikipedia</a></li>
    </ul>

    <table>
      <thead>
        <tr>
          <th>Productos</th>
          <th>Existencias</th>
          <th>Valor</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Iphone</td>
          <td>10</td>
          <td>$2.000.000</td>
        </tr>
        <tr>
          <td>Mouse</td>
          <td>100</td>
          <td>$50.000</td>
        </tr>
        <tr>
          <td>PC Gamer</td>
          <td>2</td>
          <td>$3.000.000</td>
        </tr>
      </tbody>
    </table>
  </body>
</html>


    <div class="contenedor">
      <div class="header">
        <app-logo></app-logo>
        <app-header></app-header>
        <app-buscador></app-buscador>
      </div>

      <div class="main-content">
        <app-sidebar></app-sidebar>
        <app-content></app-content>
      </div>

      <div class="footer">
        <app-footer></app-footer>
      </div>
    </div>

  <app-contenedor></app-contenedor> <!-- Aquí se esta usando el ContenedorComponent -->

      <div class="secundario">
      <app-secundario></app-secundario>


  

  