<!-- Fuente Nerko One desde Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">

<h2>Catálogo de Productos</h2>

<p>Esta es una linea de texto con estilo principal en Arial.</p>
<p class="alt">Esta es una seguda linea de texto con estilo alternativo en Nerko One.</p>

<ul>
  <li><a href="https://www.google.com" target="_blank">Google</a></li>
  <li><a href="https://www.youtube.com" target="_blank">YouTube</a></li>
  <li><a href="https://www.wikipedia.org" target="_blank">Wikipedia</a></li>
</ul>

<table>
  <tr>
    <th>Productos</th>
    <th>Existencias</th>
    <th>Valor</th>
  </tr>
  <tr>
    <td>Iphone</td>
    <td>10</td>
    <td>$2.000.000</td>
  </tr>
  <tr>
    <td>Mouse</td>
    <td>100</td>
    <td>$50.000</td>
  </tr>
  <tr>
    <td>PC Gamer</td>
    <td>2</td>
    <td>$3.000.000</td>
  </tr>
</table>


<app-header></app-header>

<app-contenedor></app-contenedor>

<!-- <app-content></app-content>

<app-footer></app-footer>

<app-sidebar></app-sidebar> -->

