/* Estilos para el Header */
.header {
  display: flex;
  justify-content: center;         /* Espacio entre logo, título y buscador */
  align-items: center;                    /* Centrado vertical de los elementos */
  background-color: #b2b2b2;              /* Fondo gris claro */
  padding: 10px;
  color: #000;                            /* Color de texto */
}

/* Estilos para el Logo */
.logo {
  background-color: #ff9900;              /* Fondo amarillo para el logo */
  padding: 10px;
  color: #fff;                            /* Texto blanco */
  font-weight: bold;
  width: 100px;
  height: 50px;
  text-align: center;                     /* Centrado del texto dentro del logo */
  margin-right: auto;                        /*alinea el logo a la izquierda */
}

/* Estilos para el Buscador */
.buscador input {
  padding: 8px;
  font-size: 16px;
  width: 200px;                           /* Ancho del input */
  border: 1px solid #ccc;                /* Borde gris */
}

/* Estilos para el Título del Header */
.header-title {
  display: flex;                          /* Usamos flexbox para el título */
  justify-content: space-between;                /* Centra el texto horizontalmente */
  align-items: center;                    /* Centra el texto verticalmente */
  color: #000;                            /* Color de texto */
  font-size: 24px;                        /* Tamaño de la fuente */
  flex-grow: 1;                           /* El título ocupa el espacio restante */
  text-align: center;                     /* Centrado del texto */
}
