<!-- contenedor.component.html -->
<div class="contenedor">

<div class="secundario">
  <app-secundario></app-secundario>

      <!-- Main Content -->
    <div class="app-content">
      <app-content></app-content>  <!-- Contenido principal con el componente app-content -->
    </div>

    <!-- Sidebar -->
    <div class="sidebar">
      <app-sidebar></app-sidebar>  <!-- Sidebar con el componente app-sidebar -->
    </div>

  <!-- Footer -->
  <div class="footer">
    <app-footer></app-footer>  <!-- Footer con el componente app-footer -->
  </div>
</div>
