/* Estilos para el contenedor */
.contenedor {
  display: flex;                        /* Usamos Flexbox para organizar el layout */
  flex-direction: column;               /* Apila los elementos verticalmente */
  min-height: 100vh;                    /* Asegura que el contenedor ocupe toda la altura de la pantalla */
  background-color: #1e3c72;            /* Fondo azul */
  padding: 0;                            /* Elimina el relleno para evitar espacio innecesario */
  margin: 0;                             /* Elimina el margen por defecto */
}

/* Organiza el contenido en filas */
.main-content {
  display: flex;                        
  flex-grow: 1;                         /* El contenido ocupa el espacio restante */
}

/* Sidebar */
.sidebar {
  width: 250px;                         /* Ancho fijo para el sidebar */
  background-color: #e0e0e0;            /* Fondo gris claro */
  padding: 20px;
  color: #000;                          /* Color del texto */
  height: 100vh;               /*hace que el sidebar se extienda hacia abajo*/
  margin-top: 60px;
  
}

/* Contenido */
.app-content {
  flex-grow: 1;                         /* El contenido ocupa el espacio restante */
  background-color: #54ca05;            /* Fondo verde claro */
  padding: 20px;
  margin-top: 60px;
  margin-left: 200px;
  margin-right: 120px;
  color: #000;                          /* Color del texto */
  margin-left: 250px;                   /* Mueve el contenido para que no se superponga al sidebar */
  min-height: 100vh;                   /* Asegura que el contenido ocupe toda la altura disponible */
}


/* Footer */
.footer {
  display: flex;
  justify-content: space-between;       /* Espacio entre los tres elementos del footer */
  background-color: #ffcc00;            /* Fondo amarillo */
  padding: 20px;
  color: #000;                          /* Color del texto */
  height: 130px;
}

/* Estilos para los elementos del footer */
.footer-item {
  background-color: #d0d0d0;            /* Fondo gris claro */
  padding: 20px;
  text-align: center;                    /* Centrado de texto */
  width: 30%;                             /* Ajusta el ancho de los elementos del footer */
}

