.footer {
  display: flex;
  justify-content: space-between;
  background-color: #ffcc00;  /* Amarillo */
  padding: 20px;
}

.footer-item {
  background-color: #d0d0d0;  /* Gris claro */
  padding: 20px;
  text-align: center;
  width: 30%;  /* 3 columnas iguales */
}
